html,
body {
    height: 100%;
    width: 100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.react-layout-components--box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
